
body {
	background: #39b59c url("../img/bg-pattern.png") repeat 50% 50%;
	font-family: 'Neucha', cursive;
	font-size: 14px;
	color: red;
	margin: 0;
	padding: 0;

	height: 100vh;
}

.main-header {
	position: relative;
	width: auto;
	min-height: 150px;
	height: 12vh;

	background-color: #ffffff;
	box-shadow: 5px 5px 50px 0 black;
}

.main-header::after {
	content: "";
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: -19px;
	background: url("../img/curved-line.svg");
}

.main-content {
	position: relative;
	/*height: 63vh;*/
	/*min-height: 650px;*/
	box-sizing: border-box;
}

.main-footer {
	width: 100%;
	position: relative;
	background-color: #ffffff;
	box-shadow: -5px -5px 50px 0 black;

	height: 15vh;
	padding-top: 105px;
	min-height: 150px;
}

.container {
	position: relative;
	min-width: 900px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

a {
	text-decoration: none;
	color: red;
	cursor: pointer;
}

.btn {
	display: inline-block;
  	padding: 10px 20px;

  	font-size: 18px;
  	line-height: 22px;
  	font-family: 'Neucha', cursive;
  	vertical-align: top;
  	text-align: center;
  	color: white;
  	text-transform: uppercase;
  	text-decoration: none;
  
  	border: 2px solid white;
  	border-radius: 35px;
  	outline: none;
  	cursor: pointer;
}

.login {
	position: relative;
	margin-top: 60px;
	color: #39b59c;
	border: 2px solid #39b59c;
	padding-left: 60px; 
	background: white;
}

.login::before {
	content: '';
	width: 32px;
	height: 24px;
	position: absolute;
	top: 9px;
	left: 15px;
	background: url("../img/login-icon.svg");
	background-size: cover;
}


.header-logo {
	position: relative;
	display: block;
	float: left;
	top: -130%;
	z-index: 2;
}

.main-header .user-block {
	text-align: right;
}

.main-navigation {
    position: relative;
    margin: 0 auto;
    margin-top: -20px;

	height: 68px;
	width: 760px;
	padding: 0 20px;
	background-image: url("../img/ribbon.svg");
    background-size: cover;
}

.main-navigation .menu-left {
 	float: left;
 	padding: 20px;
 	padding-left: 30px;
	padding-right: 30px;
}
.main-navigation .menu-right {
 	float: right;
 	padding: 20px;
 	padding-left: 30px;
}

.main-navigation a:nth-child(2) {
	display: inline-block;
	margin-left: 40px;
}

.main-navigation a,
.main-navigation span {
	font-size: 22px;
	text-shadow: 1px 1px 0 white;
	font-weight: 600;
}

.main-navigation a:hover {
	color: white;
	text-shadow: 1px 1px 0 red;
}

.main-navigation span {
	color: #ff8400
}

.main-picture {
	float: left;
	width: 58%;
	margin-right: 1%;
}

.main-picture img {
	width: 100%;
	height: auto;
}

.main-description {
	float: right;
	width: 41%;
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 30px;
}

.main-description h2 {
    font-size: 2em;
}

.main-description a {
	color: #ffffff;
}


.main-footer::before {
	content: "";
	width: 100%;
	height: 20px;
	position: absolute;
	top: -20px;
	background: url("../img/curved-line.svg");
	z-index: 10;
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.footer-navigation {
	padding-left: 100px;
	position: absolute;
	top: -190px;

	z-index: 10;
	width: 528px;
}

.footer-navigation ul {
	margin: 0;
  	padding: 0;

  	list-style: none;
  	font-size: 0;
}

.footer-navigation li {
  display: inline-block;

  font-size: 18px;
  line-height: 20px;
  vertical-align: bottom;
}

.footer-navigation a {
	position: relative;
	display: block;
	height: 170px;
	width: 170px;
	margin-right: 20px;
	border-radius: 50%;

	background-color: white;
	box-shadow: 3px 3px 0 2px rgba(0, 0, 0, 0.45);
	font-size: 18px;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}

.footer-navigation a:hover {
	box-shadow: 0 0 0 5px #39b59c;
	color: #39b59c;
    transform: scale(1.07, 1.07);
    transition: 0.2s
}

.footer-navigation li:first-child a {
	height: 140px;
	width: 140px;
}

.footer-navigation li:last-child a {
	height: 150px;
	width: 150px;
}

.footer-navigation a span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-17deg);
}

.footer-copyright {
	padding-top: 20px;
	color: lightgrey;
    text-align: right;
}

.footer-sitemap {
	margin: 0 auto;
	padding-top: 23px;
	max-width: 565px;
}

.sitemap-row {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-right: 30px;
	float: left;
}

.sitemap-row a {
	font-size: 13px;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}


.sitemap-row a:hover {
	color: #39b59c;
}

.sitemap-row li:first-child a {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

