
body {
	background: #39b59c url("../img/bg-pattern.png") repeat 50% 50%;
	font-family: 'Neucha', cursive;
	font-size: 14px;
	color: red;
	margin: 0;
	padding: 0;
}

.container {
	min-width: 900px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-header {
	height: 120px;
	width: auto;
	background-color: #ffffff;
	position: relative;
	margin-bottom: 90px;
	box-shadow: 5px 5px 50px 0 black;
}

.main-header::after {
	content: "";
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: -20px;
	background: url("../img/curved-line.svg");
}

.main-navigation {
	height: 68px;
	width: 800px;
	background-image: url("../img/ribbon.svg");
	margin: 0 auto;
	position: relative;
	top: 100px;
	z-index: 1;
}

.main-navigation .left {
 	float: left;
 	padding: 10px;
 	padding-left: 150px;
}
.main-navigation .right {
 	float: right;
 	padding: 10px;
 	padding-right: 150px;
 }

.main-navigation .right span,
.main-navigation .left span {
	font-size: 36px;
	color: white;
	text-shadow: 0 0 7px red;
}

.header-logo {
	position: absolute;
	top: 92%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	z-index: 2;
}
.main-picture {
	float: left;
	width: 68%;
	margin-right: 1%;
}

.main-picture img {
	width: 100%;
	height: auto;
}

.main-description {
	float: right;
	width: 31%;
	color: #ffffff;
	font-size: 18px;
}

.main-description a {
	color: #ffffff;
}

.main-footer {
	min-height: 150px;
	width: 100%;
	position: relative;
	background-color: #ffffff;
	box-shadow: -5px -5px 50px 0 black;
}

.main-footer::before {
	content: "";
	width: 100%;
	height: 20px;
	position: absolute;
	top: -20px;
	background: url("../img/curved-line.svg");
	z-index: 10;
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.footer-copyright {
	float: left;
	padding-top: 50px;
	color: lightgrey;
}

.footer-nav {
	float: right;
	padding-top: 50px;
}

.footer-nav a {
	font-size: 22px;
	color: orangered;
	text-decoration: none;
}

.greeting {
	position: absolute;
	bottom: 100px;
	left: 50%;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	z-index: 10;
	min-width: 900px;
}

.ribbon {
  position: relative;
  width: 100%;
  min-width: 500px;
  margin: 3em auto;
}

H2 {
  margin: 0 1em;
  background: orangered;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.7em;
  text-align: center;
  text-shadow: 0 0 2px rgba(0,0,0,.4);
          box-shadow: 0 3px 5px rgba(0,0,0,.2);
  color: #FFF;
}
.ribbon:before,
.ribbon:after,
  H2:before,
  H2:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
}
.ribbon:before,
.ribbon:after {
    top: 1.4em;
    z-index: -2;
    border: 1.6em solid orangered; 
}
.ribbon:before {
    left: 0;
    border-left-color: transparent;
}
.ribbon:after {
    right: 0;
    border-right-color: transparent;
}
H2:before,
H2:after {
	top: 1.7em;
	z-index: -1;
	border: .3em solid crimson;
	border-bottom-color: transparent;
}
H2:before {
	left: 1em;
	border-left-color: transparent;
}  
H2:after {
	right: 1em;
	border-right-color: transparent;
} 

/* ********************************************СЛАЙДЕР**************************** */

h1 {
    padding: 10px 0;
    margin: 0;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}

.slider {
    position: relative;
}

.slider input[type=radio] {
    display: none;
}

.slider-inner {
    overflow: hidden;
}

.slide {
	padding: 10px;
	margin: auto 10px;
}


.slider-image {
	float: left;
	width: 30%;
	margin-right: 1%;
}

.slider section:nth-child(2n) .slider-image {
	float: right;
	margin-right: 0;
	width: 33%;
}

.slider section:nth-child(3) .slider-image img {
	width: 90%;
	height: auto;
	padding-left: 20px;
}

.slider-image img {
	width: 100%;
	height: auto;
}

.slider-description {
	position: relative;
	float: right;
	margin-top: 60px;
	width: 59%;
	color: #ffffff;
	font-size: 22px;
	padding-left: 7%
}

.slider-description::before {
	content: "1.";
	position: absolute;
	top: 10%;
	left: 0;
	font-size: 90px;
	color: red;
}

.slider section:nth-child(2) .slider-description::before {
	content: "2.";
}
.slider section:nth-child(3) .slider-description::before {
	content: "3.";
}
.slider section:nth-child(4) .slider-description::before {
	content: "4.";
}
.slider section:nth-child(2n) .slider-description {
	float: left;
	margin-right: 1%;
}

.slider section:last-child .slider-description {
	padding-bottom: 30px;
	margin-top: 0;
}
/*

.slider-slides section {
    float: left;
    width: 450px;
    height: 320px;
} */

